<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aureo Cloud</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
<!-- Top Navbar -->
<div class="top-navbar d-flex justify-content-start align-items-center name">
    <h1>
        <a class="nav-link" href="main.html">
            Aureo Cloud
        </a>
    </h1>
</div>

<!-- Main container -->
<div class="container-fluid dark-scheme">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column ">
                    <li class="nav-item nav-size">
                        <a class="nav-link" href="#" id="dashboard-link">Dashboard</a>
                    </li>
                    <li class="nav-item nav-size">
                        <a class="nav-link" href="#" id="bookings-link">Bookings</a>
                    </li>
                    <li class="nav-item nav-size">
                        <a class="nav-link" href="#" id="food-link">Food</a>
                    </li>
                    <li class="nav-item nav-size">
                        <a class="nav-link" href="#" id="bar-link">Bar</a>
                    </li>
                    <li class="nav-item nav-size">
                        <a class="nav-link" href="#" id="reports-link">Reports</a>
                    </li>
                    <li class="nav-item nav-size">
                        <a class="nav-link" href="#" id="settings-link">Settings</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 main-content" id="content">

            <div class="container mt-4">
                <h2>Hotel Aureo Overview</h2>
                <div class="row">
                    <!-- First Table -->
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            <tr class="sub-bg table1">
                                <th class="status">Status</th>
                                <th class="total">Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="status">Available Rooms</td>
                                <td class="totalValue">0</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="status">Full Night</td>
                                <td class="totalValue">0</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="status">Day Caution</td>
                                <td class="totalValue">0</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="status">Session</td>
                                <td class="totalValue">0</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="status">Maintenance</td>
                                <td class="totalValue">0</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="status">Cleaning</td>
                                <td class="totalValue">0</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            <tr class="sub-bg table2">
                                <th class="status">Check-Out Room</th>
                                <th class="total">Time</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="room">-</td>
                                <td class="time"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="room">-</td>
                                <td class="time"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="room">-</td>
                                <td class="time"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="room">-</td>
                                <td class="time"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="room">-</td>
                                <td class="time"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="room">-</td>
                                <td class="time"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/assets/js/main.js"></script>
</body>
</html>
